﻿<div ng-if="mode == 'view'">
    <h3>Existing Customers</h3>

    <table ng-if="customers.length > 0" class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Street Address</th>
            <th>City</th>
            <th>State</th>
            <th>Zip Code</th>
            <th>Email Address</th>
            <th>Phone Number</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody>
        <tr data-ng-repeat="customer in customers">
            <td>{{customer.Id}}</td>
            <td>{{customer.FullName}}</td>
            <td>{{customer.StreetAddress}}</td>
            <td>{{customer.ZipCode.City}}</td>
            <td>{{customer.ZipCode.State}}</td>
            <td>{{customer.ZipCode.Code}}</td>
            <td>{{customer.EmailAddress}}</td>
            <td>{{customer.Phone}}</td>
            <td><a href="#" data-ng-click="showDetails(customer)">Edit/Details</a></td>
        </tr>
        </tbody>
    </table>

    <div ng-if="customers.length == 0">No customers currently exist</div>
</div>


<h3>{{getCustomerFormLabel()}}</h3>
<form class="form-horizontal">
    <fieldset>
        <legend>Name</legend>
        <div class="form-group">

            <label for="title" class="sr-only col col-md-1">Title</label>
            <div class="col col-md-2">
                <select id="title" class="form-control" data-ng-model="newCustomer.Name.Title" ng-options="title for title in titles"></select>
            </div>

            <label for="firstName" class="sr-only col col-md-1">First</label>
            <div class="col col-md-2">
                <input type="text" class="form-control" id="firstName" data-ng-model="newCustomer.Name.First" placeholder="First">
            </div>

            <label for="middleName" class="sr-only col col-md-1">Middle</label>
            <div class="col col-md-2">
                <input type="text" class="form-control" id="middleName" data-ng-model="newCustomer.Name.Middle" placeholder="Middle">
            </div>

            <label for="lastName" class="sr-only col col-md-1">Last</label>
            <div class="col col-md-2">
                <input type="text" class="form-control" id="lastName" data-ng-model="newCustomer.Name.Last" placeholder="Last">
            </div>

            <label for="suffix" class="sr-only col col-md-1">Suffix</label>
            <div class="col col-md-2">
                <input type="text" class="form-control" id="suffix" data-ng-model="newCustomer.Name.Suffix" placeholder="Suffix">
            </div>

        </div>
    </fieldset>

    <fieldset>
        <legend>Address</legend>

        <div class="form-group">
            <label for="streetAddress" class="sr-only col col-md-1">Street Address</label>
            <div class="col col-md-3">
                <input type="text" class="form-control" id="streetAddress" data-ng-model="newCustomer.StreetAddress" placeholder="Street Addr.">
            </div>

            <label for="zipCode" class="col col-md-1">Zip Code</label>
            <div class="col col-md-1">
                <select class="form-control" data-ng-model="newCustomer.ZipCode" ng-options="zipcode.Code for zipcode in zipcodes"></select>
            </div>

            <div class="col col-md-3 form-control-static">{{newCustomer.ZipCode.City}}, {{newCustomer.ZipCode.State}}</div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Contact Information</legend>

        <div class="form-group">
            <label for="phoneNumber" class="col col-md-1">Phone Number</label>
            <div class="col col-md-2">
                <input class="form-control" type="tel" id="phoneNumber" ng-model="newCustomer.Phone"/>
            </div>

            <label for="emailAddress" class="col col-md-1">Email Address</label>
            <div class="col col-md-4">
                <input class="form-control" type="email" id="emailAddress" ng-model="newCustomer.EmailAddress"/>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Account Information</legend>
        <div class="form-group">
            <label for="username" class="sr-only col col-md-1">Username</label>
            <div class="col col-md-2">
                <input type="text" class="form-control" id="username" data-ng-model="newCustomer.Username" placeholder="Username">
            </div>

            <label for="password" class="sr-only col col-md-1">Password</label>
            <div class="col col-md-2">
                <input type="password" class="form-control" id="password" data-ng-model="newCustomer.Password" placeholder="Password">
            </div>
        </div>
    </fieldset>

    <button class="btn btn-primary" data-ng-click="saveNewCustomer(newCustomer)">Save</button>
    <button class="btn btn-danger" data-ng-click="cancelNewCustomer()" data-ng-show="mode === 'details'">Cancel </button>
</form>

<div ng-if="mode == 'details'">
    <h4>Rentals</h4>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>Movie Title</th>
            <th>Date Rented</th>
            <th>Due Date</th>
            <th>Return Date</th>
        </tr>
        </thead>

        <tbody>
        <tr data-ng-repeat="rental in rentals">
            <td>{{rental.Video.Movie.MovieTitle}}</td>
            <td>{{parseJsonDate(rental.RentalDate) | date: 'short'}}</td>
            <td>{{parseJsonDate(rental.DueDate) | date: 'short'}}</td>
            <td>{{parseJsonDate(rental.ReturnDate) | date: 'short'}}</td>
        </tr>        
        </tbody>
    </table>
</div>
